*,html,ol,ul{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
}

a {
    list-style-type: none;
}

header {
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    width: 90%;
    height: auto;
    align-items: center;
    justify-content: center;
 
    padding: 1rem 2rem;
}

.header-links {
display: flex;
align-items: center;
justify-content: space-between;
list-style-type: none;
align-items: center;
    background-color: blue;
}

#logo{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}
.logo-container{
display: flex;
align-items: center;
margin-right: auto;
}

main {
  box-sizing: border-box;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
}
